.news-letter{
    width: 65%;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    padding: 0px 140px;
    height: 40vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.news-letter h1{
    color: black;
    font-size: 55px;
    font-weight: 600;
}
.news-letter p{
    color: black;
    font-size: 20px;
}
.news-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid white;
}
.news-btn input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: black;
    font-family: Poppins;
    font-size: 16px;
}
.news-btn button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}